<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for [@city, @post], class: "form-group" do |f|%>
      <%= f.label "Place" %>
      <%= f.text_field :title, class: "form-control" %>
      <br/>
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", style: "height: 300px;" %>
      <br/>
      <%= f.submit(:class => "btn btn-warning") %>
    <% end %>
  </div>
</div>