<div class="container">
<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
            <div class="panel-heading"><%= @post.title %></div>
            <div class="panel-body">
                <%= @post.content %>  
                </div>
                <div class="panel-body">
                <%= link_to 'Edit', edit_city_post_path(@city, @post), class: "btn btn-warning" %>
                <%= form_for [@city, @post], method: :delete do |f|%>
                <br/>
                    <%= f.submit "Delete", data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
<div class="row text-center">
<%= link_to 'Back', city_path(@city), class: "btn btn-primary" %>
</div>
</div>