<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <div class="site-wrapper">
        <%= image_tag("airplane.svg", :alt => "plane", :class => "logo") %>
        <%= link_to "Vagabond", root_path, class: "site-title" %>
        </div>
      </div>
    </div>
    </nav>

    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
