<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= Navbar bootstrap, includes logo and site name %>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">

      <div class="nav-wrapper">
      <div class="site-wrapper">
        <%= image_tag("airplane.svg", :alt => "plane", :class => "logo") %>
        <%= link_to "Vagabond", root_path, class: "site-title" %>
      </div>

      <div class="user-wrapper">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path  %>
        <% end %>
      </div>
      </div>
      </div>
    </div>
    </nav>

    <%#= User alerts %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%#= View logic for displaying the alert coming from edit and create routes %>
    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%#= Displays rails views %>
    <%= yield %>
    
  </body>
</html>
